{% extends "layout.html" %}
{% block title %} - {{category_item.name}}{% endblock %}
{% block content %}
    <a href="{{url_for('showCategoryCatalog', category_id = category_item.category_id)}}">Back to Collection</a>
    <br>
    <h2>{{category_item.name}}</h2>
    <p>{{category_item.description}}</p>

    {% if session['user_id'] == category_item.created_by_id %}
        <a href="{{url_for('editCategoryItem', category_item_id = category_item.id)}}" class="btn btn-outline-warning btn-sm active" role="button" aria-pressed="true">Edit</a>
        <a href="{{url_for('deleteCategoryItem', category_item_id = category_item.id)}}" class="btn btn-outline-danger btn-sm active" role="button" aria-pressed="true">Delete</a>
    {% endif %}
    
{% endblock %}